# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vscode
*.idea

vs22-debug
vs22-release
vs22
*.pdb
docs/turas/.obsidian/appearance.json
docs/turas/.obsidian/app.json
docs/turas/.obsidian/graph.json
/.VSCodeCounter
/cmake-build-debug
/cmake-build-release
/cmake-build-debug-visual-studio
/cmake-build-minsizerel-visual-studio
